html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,hgroup,menu,nav,section {
display:block;
}

html, body {background-image: url(https://res.cloudinary.com/iykeoyiih/image/upload/v1567073989/16-166115_background-wallpapers-nature-group-with-72-items-sunlight_bpzb4t.jpg)}

.clear {clear: both;}

p {
	font-family: 'Helevetica', sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

#vitae {
	font-family: 'Helvetica', sans-serif;
	font-size: 10pt;
	font-style: italic;
}

ul {
	list-style-type: none;
}

li{
	font-size: 1em;
	line-height: 1.4em; 
	margin-bottom: 5px;
	color: #444;
}

#cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'Raleway', sans-serif;
}

#mainArea {
	padding: 0 40px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	border-radius: 50px;
}

#name {
	font-weight: 500;
	float: left;
}

#contactDetails {
	font-family: 'Helvetica', sans-serif;
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

#contactDetails ul li a, a[href^=tel] {
	color: #444; 
	text-decoration: none;
	
}

#contactDetails ul li a:hover { 
	color: #cf8a05;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	font-family: 'Raleway', sans-serif;
	font-size: 11.5pt;
	float: right;
	width: 72.5%;
}

.sectionTitle h2 {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 1.2em;
	color: #40640B;
	font-weight: 600;
}

.sectionContent h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
	font-weight: 500;
}

.subDetails {
	font-size: 1em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	column-count:2;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills ul li {
	margin-bottom: 3px;
}

.coreValues {
	list-style-type: none;
	column-count:2;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.coreValues ul li {
	margin-bottom: 3px;
}

.interests {
	list-style-type: none;
	column-count:2;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.interests ul li {
	margin-bottom: 3px;
}

.referees {
	list-style-type: none;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.referees ul li {
	margin-bottom: 3px;
}

#btn-ctr {
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.button {
	background-color: #40640B;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 0pt;
	padding: 8pt;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 10.5pt;
	width: 20%;
	margin: 12pt auto;
		
}

.button:hover {
	background-color: #cf8a05;
}

/*-- contact --*/



h3 {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 1.2em;
	color: #40640B;
	font-weight: 600;
}

.myForm_BG {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.myForm_Contain {
	width: 400px;
	height: 470px;
	background-color: #fff;
	text-align: center;
	padding: 20px;
	position: relative;
}

.btn {
	background-color: #40640B;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 0pt;
	padding: 10pt;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 10.5pt;
	width: 40%;
	margin: 0 auto;
		
}

.btn:hover {
	background-color: #cf8a05;
}

input {
	width: 300px;
	display: block;
	margin: 15px auto;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Raleway", sans-serif;
}

textarea {
	width: 300px;
	height: 200px;
	resize: none;
	display: block;
	margin: 15px auto;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 30px;
	font-family: "Raleway", sans-serif;
}

.fold {
	position: absolute;
	top: 0;
	right: 14px;
	transform: rotate(45deg);
	font-size: 40px;
	color: #40640B;
	cursor: pointer;
}